* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility */
.padding_top_standard {
  padding-top: 30px;
}
.padding_bottom_standard {
  padding-bottom: 30px;
}
  /* colors palette */
.bg_pickled_bluewood {
  background-color: rgb(44, 62, 80);
}
.bg_mountain_meadow {
  background-color: rgb(26,188,156);
}
.bg_blush {
  background-color: rgb(186, 75, 99);
}
.bg_eastern_blue {
  background-color: rgb(30, 164, 182);
}
.bg_cod_gray {
  background-color: rgb(20, 15, 15);
}
.bg_dark_eastern_blue {
  background-color: rgb(28,131,193);
}
.bg_torea_bay {
  background-color: rgb(14, 56, 181);
}
.bg_rodeo_dust {
  background-color: rgb(204, 178, 163);
}
.bg_fiord {
  background-color: rgb(58, 84, 109);
}
/* fine utility */

/* header */
header {
  position: relative;
}
  /* top header */
.ms_top_header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  /* position: fixed;
  top: 0;
  z-index: 999; */
}
  /* jumbotron */
.wrapper {
  width: 50%;
  margin: 0 auto;
}
/* fine header */

/* main */
  /* Portfolio section */
.element {
  border-radius: 10px;
  padding: 20px 20px;
  margin: 20px 0;
}
  /* About section */

  /* Contact me section */
/* fine main */

/* footer */
  /* info */
.ms_footer_top {

}
  /* copyright */
/* fine footer */
