* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility */
  /* padding */
.padding_top_standard {
  padding-top: 30px;
}
.padding_bottom_standard {
  padding-bottom: 30px;
}
  /* fonts */
body {
  font-family: 'Lato', sans-serif;
  padding-top: 80px;
  }
.ms_font_montserrat {
  font-family: 'Montserrat', sans-serif;
}
  /* colors palette */
.bg_pickled_bluewood {
  background-color: rgb(44, 62, 80);
}
.bg_mountain_meadow {
  background-color: rgb(26,188,156);
}
.bg_blush {
  background-color: rgb(186, 75, 99);
}
.bg_eastern_blue {
  background-color: rgb(30, 164, 182);
}
.bg_cod_gray {
  background-color: rgb(20, 15, 15);
}
.bg_dark_eastern_blue {
  background-color: rgb(28,131,193);
}
.bg_torea_bay {
  background-color: rgb(14, 56, 181);
}
.bg_rodeo_dust {
  background-color: rgb(204, 178, 163);
}
.bg_fiord {
  background-color: rgb(58, 84, 109);
}
  /* color text palette */
.ms_text_white {
  color: rgb(255,255,255);
}
.ms_text_fiord {
  color: rgb(58, 84, 109);
}
  /* links */
a {
  color: rgb(255,255,255);
  text-decoration: none;
}
a:hover {
  color: rgb(26,188,156);
  text-decoration: none;
}
  /* form */
.ms_border_none {
  border-style: none;
}
/* fine utility */

/* header */
header {
  position: relative;
}
  /* top header */
.ms_top_header {
  width: 100%;
  height: 80px;
  line-height: 80px;
}
  /* nav */
.ms_nav_padding {
  padding-left: 20px;
}
.ms_button_menu {
  line-height: 80px;
}
  /* jumbotron */
.wrapper {
  width: 50%;
  margin: 0 auto;
}
/* fine header */

/* main */
  /* Portfolio section */
.element {
  border-radius: 10px;
  margin: 20px 0;
}
.element > img{
  width: 80%;
}
  /* About section */

  /* Contact me section */
/* fine main */

/* footer */
  /* info */
.ms_special_anchor {
  color: rgb(26,188,156);
}
.ms_special_anchor:hover {
  color: rgb(79, 158, 142);
  text-decoration: underline;
}
  /* copyright */
/* fine footer */
